@import "tailwindcss";

@theme{
    --color-main: #18181B;
    --color-accent: #141417;
    --color-cursor: #2b2b30;
    --color-blue-border: #222225;
    --link-underline-color: #8B8A8B;

    --color-mygray-500: #979797;
    --accent-mygray-300: #E8E8E8;

}

@font-face {
  font-family: 'kodomo';
  src: url('/emmanishikawa/fonts/kodomo.otf') format('opentype');
}
@font-face {
  font-family: 'nunito';
  src: url('/emmanishikawa/fonts/nunito.ttf') format('truetype');
}

body{
    background-color: var(--color-main);
    font-family: 'nunito';
}