@import "tailwindcss";

@theme{
    --infinite-scroll: animation: marquee-horizontal-alt 40s linear infinite;
}

@font-face {
  font-family: 'kodomo';
  src: url('/emmanishikawa/fonts/kodomo.otf') format('opentype');
}