@import "tailwindcss";

@theme{
    --color-main: #18181B;
    --color-accent: #141417;
    --color-cursor: #2b2b30;
    --color-blue-border: #222225;
    --link-underline-color: #8B8A8B;

    --color-mygray-500: #979797;
    --accent-mygray-300: #E8E8E8;

}

@font-face {
  font-family: 'kodomo';
  src: url('/fonts/kodomo.otf') format('opentype');
}
@font-face {
  font-family: 'nunito';
  src: url('/fonts/nunito.ttf') format('truetype');
}

html, #root{
  cursor: crosshair;
}

body{
  background-color: var(--color-main);
  font-family: 'nunito';
}

::selection{
  background-color: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar {
  width: 0px;
}

a{
  color: white;
}
a:hover{
  border-bottom: dotted 2.8px var(--link-underline-color);
}